# 后端运行端口
PORT=3001

# 数据库文件存放路径
DB_PATH=./data/highway.db

# 你的高德地图 Web端(JS API) Key
# 请前往 https://console.amap.com/ 申请并填入这里
AMAP_KEY=YOUR_AMAP_KEY
# 高德安全密钥 (与Key配套)
AMAP_SECURITY_CODE=YOUR_AMAP_KEY_SECURITY_CODE